.cityBox {
  .location-city,
  h4 {
    font-size: 0.6rem;
  }
  h4 {
    margin: 0.3rem 0;
  }
  .location-city {
    padding: 0.4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    background-color: #fff;
  }
  .all-city {
    .a-z {
      .table {
        border-bottom: 1px solid #ddd8ce;
      }
    }
  }
}